/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {

   background-image: url("../images/bg-tile.gif");
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}

.container {

   color: #4b2707;

}
.main{
  /*background-image: :url("../images/logo.png");
  text-align: center;
  content: url("../images/tiny-donut.png")
   color:#d17f38; */
  
}

.clearfix{
  
} 


/* Typography */

h1, h2 {

   color: #d17f38 ;
   
}
/* content: url("../images/header-divider.png");*/

h1 {
   background-image: url("../images/header-divider.png");
   background-repeat: no-repeat;
   background-position: center;
   background-position: bottom ;
   padding-bottom: 15px;
  text-align: center;
font-family: Love Ya Like A Sister;
}

h1 em {
color : black;
}

h2 {
   margin-left: 4px;
   

}

h3 {

}

p.lead {
   text-align: center;
font-size: 25px;
font-family: Open Sans;
}

p {
   /*color: #f2f3ee;/*
    /*padding-right: 185px;*/

  /* text-align: center;*/
   

}

a:link, a:visited {
   color:#d17f38; 
   /*padding-top:500px;*/


}

a:hover {


}

hr {
   height: 30px;
   content:url("../images/divider.png"); 
   border:0px;
   /*background-image: url(../images/divider.png);
   background-repeat: no-repeat;
   background-position: center;*/
   
}


/* Header */

header nav {
    text-align: center;
    padding-top: 14px;
    color: #d17f38;
    /*background-image:url("../images/header-divider.png");*/
    /*background-repeat: repeat-x;*/

}

header nav ul {
position: relative;
bottom: 40px;
}

header nav ul li {
   display: inline;

     padding: 30px;
     padding-left: 40px;


}

header nav ul li a {
   text-decoration: none;
   /*padding :: 40px;*/
   color:#d17f38;

}

header nav ul li a:hover {
background-image: url("../images/tiny-donut.png");
background-repeat: no-repeat;
background-position:center;
padding-top: 28px;
   color:#4b2707;
}

header nav ul li#logo a {
    content: url("../images/logo.png");
    position: relative;
    top : 40px;


}

header nav ul li#logo a:hover {
   content: url("../images/logo-hover.png");
   background-image: none;
}


/* Hero */

#hero {
   background-image: url("../images/bg-tile-yellow.gif");
   text-align: center;


}

#hero .container { 



}

#hero .large-ribbon {
content: url("../images/fresh-whole-ingredients.png");
position: absolute;
top: 160px;
right: 100px;

}


/* The Whole Story */

#story-excerpt {
   float: left;
   width: 44%;
  /* position: relative;*/
   /*text-align: 50px;*/
   
   
  padding-left:10%;
  padding-right: 3%;
 
   

}

#best-donut {
   float: left;
   width: 26%;
   /*position: relative;*/
   background-image: url(../images/award.png);
   background-repeat: no-repeat;
   /*background-position: top-left;*/
   
   /*margin-right: 22px;*/
   padding-left:11%;




}
/* News & Events */

#articles {
  font-size: 12px;
  float: left;
  width: 30%;
  margin-left: 197px;    
}

#feature-image {
   width: 50%;
   float: right ; 
}

#news-events article {
  
}

#news-events article.news {
   background-image:url(../images/icon-news.png) ;
   background-repeat: no-repeat;
   padding-left: 60px;
   
}

#news-events article.event {
   background-image: url(../images/icon-calendar.png) ;
   background-repeat: no-repeat;
    padding-left: 60px;
  
}

#news-events header time {
   color: #e8c04f;
   font-size: 12px;
   padding-top: 12px;

}

#news-events section.excerpt {


}

#news-events footer {

}


/* Footer */

footer.main {
    background-image: url("../images/bg-tile-brown.gif");
  

}

footer.main a:hover {

}

#uncopyright, #credits {
   font-size: 10px;
   color: #f2f3ee;

}

#uncopyright {
   float: left;
    background-image: url("../images/icon-recycle.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 50px;
    margin-left: 130px;


}

#credits {
   width: 150px;
   float: right;
    background-image: url("../images/icon-apple.png");
     background-repeat: no-repeat;
     background-position: left;
     margin-right: 266px;
     padding-left: 50px;
     margin-top: 5px;



}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





